[Unit]
Description=Anipush - Anime Release Notifier Bot
After=network.target

[Service]
ExecStart=/opt/anipush/venv/bin/python3 /opt/anipush/src/main.py
WorkingDirectory=/opt/anipush/src
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
